body {
  color: #665544;
  background-color: #d4d0d6;
  font-family: Georgia, "Times New Roman", serif;
  text-align: center;
}
.wrapper {
  width: 720px;
  margin: 0px auto;
}
.entry {
  width: 220px;
  float: left;
  margin: 10px;
  height: 198px;
}
.header {
  margin; 40px 0px 20px 0px;
}
figure {
  display: block;
  width: 202px;
  height: 170px;
  background-color: maroon;
  margin: 0px;
  padding: 9px;
  text-align: left;
}
figure img {
  width: 200px;
  height: 150px;
  border: 1px solid #d6d6d6;
}
h1 {
  font-size: 75px;
  font-family: Georgia;
  text-align: center;
}
